<h3><strong>About</strong></h3>
<hr/>
<p>
    <strong>Note: This is a work in progress.</strong>
    This project aims to provide a tool that will allow city planning
    officials and analysts to predict the likelihood of a housing project
    being approved for planning, given historical performance of similar
    projects. <br/>
</p>
<p>
    The predictive model is based on historical housing project data. The 
    model is used to predict the outcome of both currently open and future
    projects. <br/>
</p>
<p>
    To view permit proposals near you, search for your address
    on the map or using the search feature.
</p>
<button type="button" class="btn btn-danger dismiss">Close</button>