<div class="head">
    <h4><strong>{{collection_name}}</strong></h4>
</div>
<ul>
    {{#collection}}
    <li>
        <a href="{{url}}">
            {{name}}
        </a>
    </li>
    {{/collection}}
</ul>
