<div class="popup">
    <strong>{{project_name}}</strong>
    <span class="label label-success">{{prediction}} chance of approval</span><br/>
    <strong>Days Active</strong>: <span class="label label-warning">{{days}}</span><br/>
    <strong>Net Units</strong>: {{net_units}}<br/>
</div>