<div class="brand-bar">
    <ul>
        <li class="logo-container">
            <img class="logo" src="/images/logo_white.png" />
        </li>
        <li><a href="#" class="target-about">About</a></li>
        <li><a href="#" class="target-search">Search</a></li>
        <li><a href="#" class="target-permits">Permits</a></li>
        <li><a href="#" class="target-upload">Upload</a></li>
        <li><a href="/login" class="target-login">Login</a></li>
    </ul>
</div>