<div class="filter-section">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sort by </label>
                    <div class="col-sm-10">
                        <div class="btn-group unshift-btn-group">
                            <button type="button" class="btn btn-default sort-by proximity">Proximity</button>
                            <button type="button" class="btn btn-default sort-by risk">Risk</button>
                            <button type="button" class="btn btn-default sort-by units">Net Units</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Net Units</label>
                    <div class="col-sm-4">
                        <input type="text" name="net_units:min" value="0" class="form-control" id="net-units-min" placeholder="min">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="net_units:max" value="11000" class="form-control" id="net-units-max" placeholder="max">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-4">
                        <select name="final_status" class="form-control">
                            <option value="*">All</option>
                            <option value="Open">Open</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Approved">Approved</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Project Size</label>
                    <div class="col-sm-4">
                        <select name="project_size_class" class="form-control">
                            <option value="*">All</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-offset-2 col-sm-2 col-md-2">
                        <a href="#" class="sync btn btn-danger">Search</a>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <a href="#" class="clear btn btn-default">Clear filters</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            
        </div>
    </div>
</div>
<hr/>
<h4><strong>Permit List</strong></h4>
<ul class="model-list">
</ul>
