{% macro render(form) %}
  {% for field in form if field.type not in ["HiddenField", "CSRFTokenField"] %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="control-label col-sm-2">{{ field.label }}</label>
    <div class="col-sm-10">
      {{ field(class_="form-control")}}
    </div>
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="help-block">{{error}}</span>
        {% endfor %}
      {% endif %}
</div>
  {% endfor %}
{% endmacro %}