<html>
  <head>
    {% if config.DEBUG %}
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" type="text/css" />
    <script data-main="app" src="bower_components/requirejs/require.js"></script>
    {% else %}
    <link rel="stylesheet" href="dist/leaflet.css" type="text/css" />
    <link rel="stylesheet" href="dist/MarkerCluster.Default.css" type="text/css" />
    <link rel="stylesheet" href="dist/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="dist/index.css" type="text/css" />
    <script src="dist/app.build.js"></script>
    {% endif %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="logo" height="25px" src="/images/logo_dark.png" /></a>
        </div>
        <form class="navbar-form navbar-left hidden-xs" role="search">
          <div class="form-group">
            <input id="permit-search" type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li class="link-pad latitude"></li>
          <li class="link-pad longitude"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">

            {% if current_user.is_authenticated() %}

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ current_user.username }} <span class="caret"></span>
            </a> 
            <ul class="dropdown-menu" role="menu">
              <li><a href="/upload">Upload Permits</a></li>
              <li><a href="/manage">Manage Permits</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            {% else %}

            <a href="/login">
              Login <i class="fa fa-sign-in"></i>
            </a>

            {% endif %}
          </li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>

    <div id="map">
    </div>
    <div id="side">
      <div class="child list"></div>
      <div class="child detail"></div>
    </div>
    <div id="detail" class="hidden">
    </div>
  </body>
</html>
