<html>
  <head>
    {% if config.DEBUG %}
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link rel="stylesheet" href="bower_components/backgrid/lib/backgrid.css" type="text/css" />
    <link rel="stylesheet" href="bower_components/backgrid-filter/backgrid-filter.css" type="text/css" />
    <link rel="stylesheet" href="bower_components/backgrid-paginator/backgrid-paginator.css" type="text/css" />
    <script data-main="manage" src="bower_components/requirejs/require.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="dist/bootstrap.min.css">
    <link rel="stylesheet" href="dist/index.css" type="text/css" />
    <link rel="stylesheet" href="dist/backgrid.css" type="text/css" />
    <link rel="stylesheet" href="dist/backgrid-filter.css" type="text/css" />
    <link rel="stylesheet" href="dist/backgrid-paginator.css" type="text/css" />
    <script src="dist/app.manage.build.js"></script>
    {% endif %}
  </head>
  <body>
    <div class="container">
        <h2>Permit Manager</h2>
        <p>Here you can see browse and search through the database of permits</p>
        <p>To edit a permit, click on its edit link</p>
        <p>To upload a permit, click <a href="/upload">here</a></p>
    </div>
    <div class="container" id="manager">
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
